@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.backgroundweb {
  background-image: url("../images/bgplasticbtul.jpg");
  background-position: right;
  background-size: cover;
  flex-wrap: wrap;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-right: 100px;
}

.fucku {
  justify-content: center;
  animation: rotate 10s linear infinite;
}

/* bot section */
.bot-layout {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.token-bot {
  display: block !important;
  width: 20rem !important;
  margin-bottom: 1.5rem !important;
}

.container-log {
  width: 20rem;
  margin: 0 1rem 1.5rem 1rem;
}

.container-box {
  flex-wrap: wrap;
  width: 20rem;
  margin: 0 1rem 1.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 0.6rem;
  font-size: 1.6rem !important;
}

.buttons {
  margin-top: 1rem;
}

/* end of bot section */

@media (max-width: 600px) {
  .backgroundweb {
    background-image: url("../images/bgmedia.jpg");
  }

  .container {
    margin-right: auto;
    margin-left: auto;
  }

  .image {
    margin-left: auto;
    margin-right: auto;
  }

  .fucku {
    display: none;
  }
}

@media (max-width: 765px) {
  .backgroundweb {
    background-image: url("../images/bgmedia.jpg");
  }

  .container {
    margin-right: auto;
    margin-left: auto;
  }

  .image {
    margin-left: auto;
    margin-right: auto;
  }

  .fucku {
    display: none;
  }
}

@media (max-width: 800px) {
  .backgroundweb {
    background-image: url("../images/bgplasticbtul.jpg");
  }

  .container {
    margin-right: auto;
    margin-left: auto;
  }

  .image {
    margin-left: auto;
    margin-right: auto;
  }

  .fucku {
    display: none;
  }
}

@media (max-width: 900px) {
  .backgroundweb {
    background-image: url("../images/bgplasticbtul.jpg");
  }

  .container {
    margin-right: auto;
    margin-left: auto;
  }

  .image {
    margin-left: auto;
    margin-right: auto;
  }

  .fucku {
    display: none;
  }
}
